@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #222;
}


.bg {
    /* The image used */
    background-image: url("../img/Full-Slide_basic.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.space {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: #343434;
    color: #D9D9D9;
    padding-top: 2rem;
}

footer p {
    margin-bottom: .5rem;
}

footer a {
    color: #D9D9D9;
}