<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment::head"></head>

<body>

<nav th:replace="fragment::nav"></nav>

<!-- Card Tabs -->
<div class="row space">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-10 col-md-8">

        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Add Attendee</h3>
            </div>

            <div class="card-body">

                <!--<div class="alert alert-danger" ></div>-->
                <form th:action="@{/addAttendee}" th:method="post" th:object="${attendee}">
                    <div class="form-group">
                        <label for="lastName">Family Name</label>
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                               placeholder="Enter last name of Family" required="required" name="lastName"/>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="member" id="member" th:field="*{member}"/>
                            <label class="form-check-label" for="member">Is A Member</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numOfChildren">Number of Children</label>
                        <input type="number" class="form-control" id="numOfChildren" th:field="*{numOfChildren}"
                               placeholder="Enter last name of Family" required="required" name="numOfChildren"/>

                    </div>

                    <button type="submit" class="btn btn-primary">Save Family</button>

                </form>


            </div>
        </div>

    </div>
    <div class="col"></div>
</div>

<footer th:replace="fragment::footer"></footer>

</body>
</html>