<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment::head"></head>

<body>

<nav th:replace="fragment::nav"></nav>

<!-- Card Tabs -->
<div class="row space">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-10 col-md-8">

        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Add Attendee</h3>
            </div>

            <div class="row">
                <div class="col">
                    <a th:href="@{/directory}" class="btn btn-primary">Return to Directory</a>
                </div>
                <div class="col">
                    <a th:href="@{/addFamilyMember?id=} + ${attendee.id}" class="btn btn-warning">Add Family Members</a>
                </div>
            </div>

            <div class="card-body" th:if="${!familyMembersList.isEmpty()}">

                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="familyMember : ${familyMembersList}">
                        <td th:text="${familyMember.firstName}"></td>
                        <td th:text="${familyMember.attendee.lastName}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <div class="col"></div>
</div>

<footer th:replace="fragment::footer"></footer>

</body>
</html>