<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment::head"></head>

<body>

<nav th:replace="fragment::nav"></nav>

<!-- Card Tabs -->
<div class="row space">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-10 col-md-8">

        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Add Attendee</h3>
            </div>

            <div class="alert alert-warning" th:if="${attendees.isEmpty()}">No Members in Directory <a th:href="@{/addAttendee}">Add Families</a> </div>
            <div class="alert alert-success" th:if="${added}">Attendee Added</div>
            <div class="alert alert-success" th:if="${updated}">Attendee Updated</div>
            <div class="card-body" th:if="${!attendees.isEmpty()}">

                <table class="table table-hover " id="directory">
                    <thead>
                    <tr>
                        <th hidden="hiden"></th>
                        <th scope="col">Last Name</th>
                        <th scope="col">View/Add Family Members</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="attendee : ${attendees}">
                        <td hidden="hidden" name="id" th:value="${attendee.id}"></td>
                        <td><a th:href="@{/detailsAttendee?id=} + ${attendee.id}" th:text="${attendee.lastName}"></a>
                        </td>
                        <td><a th:href="@{/detailsAttendee?id=} + ${attendee.id}">View/Add Family Members</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <div class="col"></div>
</div>

<footer th:replace="fragment::footer"></footer>

<script>
    $(document).ready(function () {
        $("#directory").DataTable({

            "ordering": false,
            statesave: true
        });
    });
</script>

</body>
</html>