<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment::head"></head>

<body>

<nav th:replace="fragment::nav"></nav>

<!-- Card Tabs -->
<div class="row space">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-10 col-md-8">

        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Update Individual</h3>
            </div>

            <div class="card-body">
                <!--<div class="alert alert-danger" ></div>-->
                <form th:action="@{/updateFamilyMember}" th:method="post" th:object="${familyMember}">
                    <input hidden="hidden" name="attendee.id" th:value="${attendee.id}"/>
                    <input hidden="hidden" name="id" th:value="${familyMember.id}"/>
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" class="form-control" id="name"
                               placeholder="First Name" th:field="${familyMember.firstName}" name="firstName"/>
                    </div>
                    <div class="form-group">

                        <label for="male">Gender</label>

                        <div class="form-check">
                            <input th:field="${familyMember.gender}" value="Male" type="radio" name="gender"
                                   id="male"
                                   class="form-check-input" /><label
                                class="form-check-label" for="male">
                            Male </label>
                        </div>
                        <div class="form-check">
                            <input th:field="${familyMember.gender}" type="radio" name="gender" value="Female"
                                   id="female"
                                   class="form-check-input"/><label class="form-check-label" for="female">
                            Female</label>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="member" id="member"
                                   th:field="${familyMember.member}"/>
                            <label class="form-check-label" for="member">Is A Member</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Update Attendee</button>
                    <a class="btn btn-warning" th:href="@{/directory}">Cancel</a>
                </form>

            </div>
        </div>

    </div>
    <div class="col"></div>
</div>

<footer th:replace="fragment::footer"></footer>

</body>
</html>